<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
  <section class="hero is-link">
    <div class="hero-body">
      <p class="title">
        PDF Diff Bot
      </p>
      <p class="subtitle">
        Quickly diff two pdfs to see differences
      </p>
    </div>
  </section>
    <input type="file"
       id="fileUploader1" name="avatar"
       accept="pdf">
    <input type="file"
       id="fileUploader2" name="avatar"
       accept="pdf">
 </body>

</html>
